body {
    background-image: url("#{resource['default/img/background.png']}");
    background-attachment: fixed;
    margin: auto;
    max-width: 1000px;
    text-align: center;
}

header {
    letter-spacing: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}

nav {
    background: rgba(255,255,255,0.5);
    border-top: solid black;
    border-bottom: solid black;
    text-align: center;
    font-size: 22px;
}

li {
    display: inline;
    padding: 4px 10px 4px 10px;
}

li a {
    text-decoration: none;
    color: black;
    transition: letter-spacing .2s;
    font-style: italic;
}

li a:hover{
    letter-spacing: 5px;
}

section {
    padding: 20px;
}

table {  
    background-color: transparent;
    border-collapse: separate;
    border-spacing: 0 30px;
    width: auto;
}

.profileTable {
    border-spacing: 0;
    text-align: left;
}

.descriptionTable {
    margin-top: 30px;
    border-spacing: 0;
    border-bottom: black 2px solid;
    border-top: black 2px solid;
    width: 80%;
}

.descriptionTable td{
    border-bottom: none;
    border-top: none;
}

.descriptionData {
    font-size: 15px;
    border-spacing: 0;
    border-bottom: black 2px solid;
    border-top: black 2px solid;
    margin: auto;
    width: 100%;
}

.descriptionData td{
    border-bottom: none;
    border-top: none;
    background: rgba(255,255,255,0);
}

.descriptionTH{
    font-weight: bold;
}

table td {
    font-size: 30px;
    background: rgba(255,255,255,0.5);
    padding: 10px;
    border-bottom: black 2px solid;
    border-top: black 2px solid;
}

#listTable tr {
    transition: transform .2s;
}

#listTable tr:hover{
    transform: scaleX(1.15);
}

img {
    max-width: 150px;
    max-height: 150px;
    border: black solid 2px;
}

.tableName {
    font-weight: bold;
    text-transform: uppercase;
}

.tableSpecies {
    font-style: italic;
}

.tableInput input {
    height: 100px;
    width: auto;
    min-width: 100px;
    font-size: 30px;
    border: black solid 2px;
    border-radius: 25px;
}

.tableInput input:hover {
    background-color: greenyellow;
    font-size: 25px;
}

.tableInput input:hover:disabled {
    background-color: firebrick;
    font-size: 30px;
}

td select {
    max-height: 40px;
    transition: max-height .5s;
}

td select:hover {
    max-height: 1000px;
}

.chat {
    min-width: 100%;
    min-height: 100%;
    font-size: 30px;
    padding: 5px;
    display: inline;
}

.chat input, textarea{
    display: inline;

}