<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    template="/template.xhtml">
    <ui:define name="title">
        <title>Add animal</title>
    </ui:define>
    <ui:define name="content">
        <f:view>
            <h:form  enctype="multipart/form-data">
                <h:panelGrid columns="2">
                    <h:outputLabel value="Name" for="name"/>
                    <h:inputText id="name" value="#{addAnimalBean.name}"/>

                    <h:outputLabel value="Species" for="species"/>
                    <h:inputText id="species" value="#{addAnimalBean.species}"/>

                    <h:outputLabel value="Weight" for="weight"/>
                    <h:inputText id="weight" value="#{addAnimalBean.weight}"/>

                    <h:outputLabel value="Price" for="price"/>
                    <h:inputText id="price" value="#{addAnimalBean.price}"/>

                    <h:outputLabel value="Description" for="description"/>
                    <h:inputTextarea id="description" value="#{addAnimalBean.description}"/>

                    <h:outputLabel value="Picture(JPA required)" for="picture"/>
                    <h:inputFile id="picture"/>

                    <h:commandButton value="Save" action="#{addAnimalBean.addAnimal()}"/>
                </h:panelGrid>
            </h:form>
        </f:view>
    </ui:define>
</ui:composition>

