<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    template="/template.xhtml">
    <ui:define name="title">
        <title>Main page</title>
    </ui:define>
    <ui:define name="content">
        <f:view>
            <h:dataTable id="listTable" var="animal" value="#{animalListBean.animals}" columnClasses="img, tableName, tableSpecies, price, tableInput, tableInput">

                <h:column>
                    <h:graphicImage library="default" name="#{animal.imgPath}" alt="#{animal.name}+.img"/>
                </h:column>
                <h:column class="tableName">
                    #{animal.name}
                </h:column>
                <h:column>
                    #{animal.species}                    
                </h:column>
                <h:column>
                    #{animal.price}$     
                </h:column>
                <h:column>
                    <h:button outcome="animal_view" value="Description">
                        <f:param name="animalId" value="#{animal.id}"/>
                    </h:button>
                </h:column>
                <h:column>
                    <h:form>
                        <h:commandButton value="BUY" action="#{animalListBean.buy(animal)}" disabled="#{!testView.isEnoughMoney(animal)}"/>
                    </h:form>
                </h:column>
            </h:dataTable>
        </f:view>
    </ui:define>
</ui:composition>

