<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    template="/template.xhtml">
    <f:metadata>
        <f:viewParam name="animalId" value="#{animalViewBean.animalId}"/>
    </f:metadata>
    <ui:define name="title">
        <title>Main page</title>
    </ui:define>
    <ui:define name="content">
        <f:view>
            <h:panelGrid columns="2" class="descriptionTable">
                <h:graphicImage library="default" name="#{animalViewBean.animal.imgPath}"/>
                <h:panelGrid columns="4" class="descriptionData" >
                    <h:outputLabel value="Name" class="descriptionTH"/>
                    <h:outputLabel value="Species" class="descriptionTH"/>
                    <h:outputLabel value="Weight" class="descriptionTH"/>
                    <h:outputLabel value="Price" class="descriptionTH"/>
                    <h:outputText value="#{animalViewBean.animal.name}"/>
                    <h:outputText value="#{animalViewBean.animal.species}"/>
                    <h:outputText value="#{animalViewBean.animal.weight}kg"/>
                    <h:outputText value="#{animalViewBean.animal.price}$"/>
                </h:panelGrid>
                <h:outputLabel value="Description" class="descriptionTH"/>
                <h:outputText value="#{animalViewBean.animal.description}"/>
            </h:panelGrid>
        </f:view>
    </ui:define>
</ui:composition>

