<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    template="/template.xhtml">
    <ui:define name="title">
        <title>Chat</title>
    </ui:define>
    <ui:define name="content">
        <h:form>
            <div class="chat">
                <h:inputTextarea readonly="true" value="#{chatBean.chat}" style="width: 100%; min-height: 50%;"/>
            </div>
            <div class="chat">
                <h:inputText value="#{chatBean.msg}" style="min-width: 50%;"/>
                <h:commandButton value="Send" action="#{chatBean.send()}">
                    <f:ajax execute="@form" render="@form"/>
                </h:commandButton>
            </div>
        </h:form>
    </ui:define>
</ui:composition>

