<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    template="/template.xhtml">
    <ui:define name="title">
        <title>Main page</title>
    </ui:define>
    <ui:define name="content">
        <p>You are logged as #{userProfileBean.user.login} </p>
        <h:form>
            <h:panelGrid columns="4" class="profileTable">
                <h:outputLabel value="Name:"/>
                <h:outputLabel value="#{userProfileBean.user.name}"/>
                <h:commandButton value="Change" action="#{userProfileBean.setShowInput(true)}" rendered="#{!userProfileBean.showInput}">
                    <f:ajax execute="@form" render="@form"/>
                </h:commandButton>
                <h:inputText value="#{userProfileBean.newName}" rendered="#{userProfileBean.showInput}"/>
                <h:commandButton value="Change" action="#{userProfileBean.changeName()}" rendered="#{userProfileBean.showInput}"/>
            </h:panelGrid>
        </h:form>

        <h:form>
            <h:panelGrid columns="4" class="profileTable">
                <h:outputLabel value="Gender:"/>
                <h:outputLabel value="#{userProfileBean.user.gender}"/>
                <h:commandButton value="Change" action="#{userProfileBean.setShowGenders(true)}" rendered="#{!userProfileBean.showGenders}">
                    <f:ajax execute="@form" render="@form"/>
                </h:commandButton>
                <h:selectOneListbox value="#{userProfileBean.user.gender}" rendered="#{userProfileBean.showGenders}">
                    <f:selectItems value="#{userProfileBean.genders}"/>
                </h:selectOneListbox>
                <h:commandButton value="Change" rendered="#{userProfileBean.showGenders}"/>
            </h:panelGrid>
        </h:form>
        
        <h:panelGrid columns="2" class="profileTable">
             <h:outputLabel value="Money:"/>
             <h:outputLabel value="#{userProfileBean.user.money} $"/>
             
             <h:outputLabel value="Animal collection:" />
             <h:outputLabel/>
             <h:outputLabel value="Collection is empty" rendered="#{!userProfileBean.listPopulated}"/>
             <h:dataTable value="#{userProfileBean.user.ownedAnimals}" var="animal" rendered="#{userProfileBean.listPopulated}">
                <h:column>
                    <h:graphicImage library="default" name="#{animal.imgPath}" alt="#{animal.name}+.img"/>
                </h:column>
                 <h:column>#{animal.name}</h:column>
             </h:dataTable>
        </h:panelGrid>

    </ui:define>
</ui:composition>

