<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">   
    <h:head>
        <ui:insert name="title">
            <title>Pet Store</title>
        </ui:insert>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <h:outputStylesheet library="default" name="/css/default-style.css"/>
        <h:outputScript library="default" name="/javascript/script.js" />
    </h:head>
    <h:body>
        <header>
            <h1>Pet Store</h1>
        </header>
        <nav>
            <ul>
                <li><a href="faces/test.xhtml">Log out</a></li>
                <li><a href="faces/animal_list.xhtml">Store</a></li>
                <li><a href="faces/chat.xhtml">Chat</a></li>
                <li><a href="faces/profile.xhtml">Profile</a></li>
                <li><a href="faces/add_animal.xhtml">Add animal</a></li>
                <li id="cash"><b>#{userProfileBean.user.money}$</b></li>
            </ul>
        </nav>
        <section>
            <ui:insert name="content"/>
        </section>
        <footer>
            <h3>Damun Modzielewski (c)</h3>
        </footer>
    </h:body>
</html>
